{{> header}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main class="main-content">
      <h1>{{error}} {{success}}</h1>
      <a href="/">Voltar para a página inicial</a>
    </main>
    <footer>
      <!-- Rodapé do site -->
    </footer>
  </body>
</html>
