{{> header}}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>Entre em contato conosco:</p>
    <ul>
        <li>Email: contato@exemplo.com</li>
        <li>Telefone: (00) 1234-5678</li>
    </ul>
</body>
</html>
