{{> header}}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>Igor Vicentini Garcia, aluno de Engenharia de Software na UTFPR. Esse projeto foi criado para a disciplina de Programação WEB2</p>
    <p>Também colaborou com o projeto o professor Adriano Rivolli Da Silva. Ensinou o conteúdo utilizado para desenvolver o projeto e orientou no que deve ser realizado.</p>
</body>
</html>
