<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <header class="site-header"> <!-- Adicione a classe "site-header" -->
        <div class="header-container"> <!-- Crie uma div para conter o conteúdo do header -->
            <h1>Meu Projeto</h1>
            <nav>
                <ul>
                    <li><a href="/">Página Inicial</a></li>
                    <li><a href="/tecnologias">Tecnologias</a></li>
                    <li><a href="/contato">Contato</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                </ul>
            </nav>
        </div>
    </header>
