{{> header}}


<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <!-- Cabeçalho do site -->
    </header>

    <main>
      <h1>Bem-vindo à Página Inicial</h1>
      <p>Este é um breve resumo da proposta do projeto.</p>
      <nav>
        <ul>
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/Tecnologias">Tecnologias</a></li>
          <li><a href="/developer">Desenvolvedor</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>

      <form>
        <!-- Formulário de login -->
      </form>
    </main>

    <footer>
      <!-- Rodapé do site -->
    </footer>
  </body>
</html>
