{{> header}}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>Sobre o projeto:</p>
    <p>O projeto do To-Do List para a disciplina de Web 2 é uma aplicação web interativa para gerenciamento de tarefas.</p>
    <p>O objetivo é criar uma lista de tarefas personalizada, permitindo adicionar, marcar como concluídas</p>
    <p>Serão utilizadas tecnologias modernas como Node.js, Express, HTML, CSS e JavaScript no desenvolvimento do projeto.</p>

    {{> footer}}

</body>
</html>
