{{> header}}


<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>Algumas das tecnologias que estamos usando e como estão sendo usadas no projeto:</p>
    <ul>
        <li>
            <h3>Node.js</h3>
            <p>O Node.js é usado como plataforma de backend para o servidor.</p>
        </li>
        <li>
            <h3>Express</h3>
            <p>O Express é usado como o framework web para criar rotas e manipular requisições e respostas.</p>
        </li>
        <li>
            <h3>HTML</h3>
            <p>O HTML é usado para estruturar o conteúdo das páginas web.</p>
        </li>
        <li>
            <h3>CSS</h3>
            <p>O CSS é usado para estilizar as páginas web e torná-las visualmente atraentes.</p>
        </li>
        <li>
            <h3>JavaScript</h3>
            <p>O JavaScript é usado para adicionar interatividade às páginas web, como validação de formulários e manipulação do DOM.</p>
        </li>
    </ul>
</body>
</html>
