{{> header}}

<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <main class="main-content">
        <h1>Bem-vindo, {{ username }}</h1>
        <p>Aqui você pode editar sua senha ou excluir sua conta.</p>

        <section>
            <h2>Página de Cards</h2>
            <a href="/cards">Acessar Página de Cards</a>
        </section>

        <section>
            <h2>Editar sua senha</h2>
                <form id="changePasswordForm" method="POST" action="/editauser/change-password" class="formulario-contato">
                
                    <label for="currentPassword">Senha atual:</label>
                    <input type="password" id="currentPassword" name="currentPassword" >
        
                    <label for="newPassword">Nova senha:</label>
                    <input type="password" id="newPassword" name="newPassword" >
        
                    <button type="submit">Salvar</button>
                </form>
        </section>

            <section>
                <h2>Excluir conta</h2>
                <form id="deleteAccountForm" method="POST" action="/editauser/delete-account" class="formulario-contato">
                    <p>Tem certeza de que deseja excluir sua conta? </p>
                    <p>Essa ação não pode ser desfeita.</p>
        
                    <label for="password">Digite sua senha:</label>
                    <input type="password" id="password" name="password" >
        
                    <button type="submit">Excluir conta</button>
                </form>
            </section>
       
    </main>

    {{> footer}}

</body>

</html>